
.shadow {

    color:red;
    width:30%;
    margin:auto;
margin-top:10%;
  }
  
  .container-sm{

    margin-top:10%;
   background-color:rgb(212, 210, 210);
     border-style:double;
    border-color:aqua;
    text-align:center;
    font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
.titulo3{
  font-size:50px;
}
  
.titulo2{
    font-size: 60px;
}
.cuadrado {
    width: 150px;           /* Ancho de 150 píxeles */
    height: 150px;          /* Alto de 150 píxeles */
    background: red;        /* Fondo de color rojo */
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
  }

  




































