* {
    background-color: rgb(255, 255, 255);
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
     
    }
    
      #container-sm{
        padding-top: 25px;
        font-family:monospace;
        font-size:22px;
    text-align: center;
      
    
      background: linear-gradient(90deg,  rgb(228, 171, 177),  rgb(226, 224, 221), rgb(199, 64, 64));
      width:50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      }
    
    
    
    button{
      padding:10px;
      background-color: rgb(251, 251, 250);
      border-style: none;
      
      font-size:20px;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(108, 10, 10);
    
    }
    
    
    button:hover{
      width:15%;
      padding:10px;
      background-color:rgb(108, 10, 10);
      border-style: none;
      font-size:25px;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color:rgb(255, 255, 255);
    
    }
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    