<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/index.css">
  <link>
  <title> Mí Cv </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

  <nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"> Cv</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./opcion1.html"> hola </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                href="https://blog.hubspot.es/website/que-es-desarrollador-full-stack#:~:text=Un%20desarrollador%20full%20stack%20es,del%20sitio%20(back%20end)."
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Acerca de la programacion
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../views/opcion1.html"> Experiencia</a></li>
                <li><a class="dropdown-item" href="#">Contactar</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#"> galeria de fotos </a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">
                Disponible</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Ingresa tu busqueda" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"> Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </nav>



  <div class="container-sm"> Isabela Marcos <h3>  Programadora web full stack  </h3>  </div>
    <div class="container-md" > <img src="../images/chiquita.png" alt="foto de adolescente" class="fotoIsabel"> <p class="textoSobreMi">Sobre Mí: <br> Me apasiona la originalidad 
      y la creatividad, con un sinfín de ideas sobre diseño muy sorprendentes.
      Me dediqué a estudiar programación, tengo conocimientos,
      Me considero una persona responsable y ordenada.
      Buscando mi primera experiencia laboral. </p>  
      </div> 



  

    </div>
  <div id="container-md-2"> <br> 
    <i class="fa-solid fa-user"></i> <b> Perfil Personal </b> <br>
    <p> Estudiante de programacion <br>conocimientos basicos en html, <br> css y Javascript. Con disposicion de seguir
      <br>
      aprendiendo y trabajar.</p> <i class="fa-solid fa-graduation-cap"></i> <b> Formacion academica </b>
    <p> Ingeniero Informático <br>con especialidad en programación. <br>
      Más de 5 años de experiencia <br>brindando mis servicios profesionales <br>
      a empresas de tecnología. <br> He trabajado con empresas <br>que integran
      una plantilla <br>de más de 500 empleados. </p> <i class="fa-solid fa-briefcase"></i> <b> Experiencia laboral </b>
    <p>
    <ul>
      <li> Base de datos y cache</li>
      <li> Html5, css y javascript</li>
      <li> Arquitecturas de apps</li>
      <li> Programas de edicion</li>
      <li> Comunicacion </li>
      <li> Trabajo en equipo</li>
    </ul>
    </p>

    </p>
  </div>


  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne"> hola
          Accordion Item #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>

  

  <div class="NOSE"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate minus ipsum modi! Recusandae
    nihil veniam obcaecati et ullam pariatur quae officiis quia ex fugiat dignissimos id, dolore eius, labore placeat?
  </div>
  </button>
  </h2>
  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
    data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
      adds the appropriate classes that we use to style each element. These classes control the overall
      appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
      CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
      <code>.accordion-body</code>, though the transition does limit overflow.
    </div>
  </div>
  </div>
  </div>
  </div>
 
  <div class="container-xxl">100% wide until extra extra large breakpoint</div>
  <article>
    <h1 class="hola"> Isabel Rodriguez</h1>
  </article>







  <br>
  <br>
  <br>

  <textarea class="form-control" placeholder="Comentarios" id="floatingTextarea"></textarea>
  <label for="floatingTextarea"> </label>
  </div>





  

</body>

</html>